.link {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 12px;
    color: lightgrey;
}

.active {
   composes: link;
    color: tomato;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}